src/db_134_Angiograms/
src/db_coronary/
src/MTA_images/
.vscode/
dilated_result.pgm
kernel0.pgm
kernel15.pgm
kernel30.pgm
kernel45.pgm
kernel60.pgm
kernel75.pgm
kernel90.pgm
kernel105.pgm
kernel120.pgm
kernel135.pgm
kernel150.pgm
kernel165.pgm
last_strel.pgm
library_compilation.txt
ROImask.pgm